%h2 Edit User

= form_for @user do |f|
	= label :user, :username
	= f.text_field :username, :value => @user.username
	%br
	
	= label :user, :email
	= f.email_field :email, :value => @user.email
	%br
	
	= label :user, :password
	= f.password_field :password
	%br

	= submit_tag "Update"