%h2 New User

= form_for @user do |f|
	= label :username, "Username"
	= f.text_field :username, :value => 'ExampleUser'
	%br
	
	= label :email, "Email"
	= f.email_field :email, :value => 'user@example.com'
	%br
	
	= label :password, "Password"
	= f.password_field :password, :value => 'password'
	%br

	= submit_tag "Create"